[Unit]
Description=Grafana BetterStack Proxy Service
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/opt/rp_cluster/uptime
ExecStart=/opt/my_venv/bin/python grafana_server.py
EnvironmentFile=/opt/rp_cluster/uptime/.env
Restart=always

[Install]
WantedBy=multi-user.target